body{
  margin:0;
  background:#000;
  color:#d4af37;
  font-family:Arial, sans-serif;
}

section{
  width:90%;
  max-width:1400px;
  margin:auto;
  padding:120px 0;
}

header{
  text-align:center;
}

.hero-banner{
  width:100%;
  border-radius:20px;
  margin-bottom:60px;
}

h1{
  font-size:72px;
  margin:0;
}

h2{
  font-size:50px;
  margin-bottom:30px;
}

p{
  font-size:22px;
  line-height:1.8;
}

.gold{
  color:#f4c765;
}

.about,
.merch{
  display:flex;
  gap:100px;
  align-items:center;
}

.about img,
.merch img{
  width:100%;
  border-radius:25px;
}

.about-image,
.about-text,
.merch-image,
.merch-text{
  flex:1;
}

.pack-display{
  width:100%;
  max-width:700px;
  display:block;
  margin:auto;
  border-radius:25px;
}

ul{
  font-size:22px;
  line-height:2;
}

footer{
  text-align:center;
  padding:120px 40px;
}

.footer-banner{
  width:100%;
  max-width:1200px;
  border-radius:25px;
  margin-bottom:60px;
}

@media(max-width:900px){

  h1{
    font-size:48px;
  }

  h2{
    font-size:36px;
  }

  .about,
  .merch{
    flex-direction:column;
  }

  p,
  ul{
    font-size:18px;
  }
}
